<?xml version="1.0"?>

<robot name="martbot" xmlns:xacro="http://ros.org/wiki/xacro">

    <gazebo reference="base_link">
        <material>Gazebo/Grey</material>
    </gazebo> 

    <gazebo reference="layer_one">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="layer_two">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="camera">
        <material>Gazebo/White</material>
    </gazebo>

    <gazebo reference="right_wheel">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="left_wheel">
        <material>Gazebo/Black</material>
    </gazebo> 

    <gazebo reference="caster_wheel_forward">
        <material>Gazebo/Red</material>
    </gazebo> 

    <gazebo reference="caster_wheel_backward">
        <material>Gazebo/Red</material>
    </gazebo> 
    
    <gazebo reference="caster_wheel_pivot_forward">
        <material>Gazebo/Black</material>
    </gazebo> 

    <gazebo reference="caster_wheel_pivot_backward">
        <material>Gazebo/Black</material>
    </gazebo> 

</robot>
